@import "tailwindcss";

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-slate-50 text-slate-900 antialiased;
  }
}

.custom-cursor-active,
.custom-cursor-active * {
  cursor: none !important;
}